.button {
    display: block;
    width: 100%;
    padding: 16px 24px;

    border: none;
    border-radius: 16px;
    cursor: pointer;

    &--primary {
        background-color: rgb(255, 79, 135);
        color: rgb(255, 255, 255);
    }

    &--secondary {
        background-color: rgb(255, 255, 255);
        color: rgb(111, 114, 128);
        border: 1px solid rgb(245, 227, 232);
    }
}